body {
  background: #F5F5F5;
}

.cards {
  list-style-type: none;
}

.card-container {
  margin: 10px;
  float: right;
  perspective: 700px;
  &.shown .card {
    transform: rotateY(180deg);
  }
  &.matched .card .back {
    animation-name: glow;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-delay: 0.4s;
  }
}

@keyframes glow {
  0% { box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.43); }
  50% { box-shadow:0px 0px 10px 3px #2AA02A; }
  100% { box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.43); }
}

.card-container, .front, .back {
  width: 128px;
  height: 128px;
}

.card {
  transition: 0.4s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.43);
}

.front {
  z-index: 2;
  background: #CCC;
}

.back {
  transform: rotateY(180deg);
  background: cyan;
}
